.box {
  background: #ffffff;
  border: 1.5px solid #e5eaf3;
  border-radius: 8px;
  padding: 32px 24px;
  @include b('mobile') {
    padding: 24px 15px;
  }
  &-green {
    background: $green-light;
    border: 1.5px solid $green;
  }
  &-sm {
    padding: 12px 26px 16px;
  }
}
