@import '../../styles/mixins';

.button {
  cursor: pointer;
  transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid transparent;
  width: fit-content;
  white-space: nowrap;
  @include flex(row, center, center, nowrap);
  border-radius: 100px;
  font-size: 18px;
  line-height: 22px;

  &.rounded {
    border-radius: 50%;
    width: 51px;
    height: 51px;
  }

  &.default {
    padding: 16px;
  }
  &.big {
    padding: 18px 39px;
  }
  &.medium {
    padding: 16px 37px;
  }
  &.small {
    padding: 16px 24px;
  }
  &:hover {
    // background: $bg-button-hover-outline-dark;
  }

  &.gray {
    background: $btn-bg-gray;
    color: $btn-color-gray;
    &:hover,
    &:active {
      background: $btn-hover-gray;
      border: 1px solid $btn-border-gray;
    }
  }

  &.gray-light {
    background: $btn-bg-gray-light;
    color: $btn-color-gray;
    &:hover,
    &:active {
      background: $btn-hover-gray;
      border: 1px solid $btn-border-gray;
    }
  }
  &.black {
    background: $btn-bg-black;
    color: $btn-color-black;
    &:hover,
    &:active {
      background: rgba($btn-bg-black, 0.8);
    }
  }

  &.green {
    background: $btn-bg-green;
    color: $btn-color-green;
    border-color: $btn-bg-green;
    &:hover,
    &:active {
      color: $black;
      background: $btn-hover-green;
    }
  }

  &.disabled {
  }
  &:focus {
  }

  &.isFullWidth {
    width: 100%;
  }
}

.icon {
  height: unset;
}
