@import '../../styles/mixins';

.button {
  width: fit-content;

  font-size: 18px;
  line-height: 22px;
  white-space: nowrap;
  text-decoration: none;

  cursor: pointer;

  background-color: transparent;
  border: 1px solid transparent;
  border-radius: $border-radius;

  transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
  @include flex(row, center, center, nowrap);
  @include b('mobile') {
    font-size: 14px;
    line-height: 20px;
  }

  &.default {
    padding: 16px;
    @include b('mobile') {
      padding: 10px 16px;
    }
  }

  &.big {
    padding: 18px 39px;
  }

  &.medium {
    padding: 16px 37px;
  }

  &.small {
    padding: 4px 8px;

    font-size: 16px;
    line-height: 19px;

    border-radius: 5px;
  }

  &.rounded {
    width: 51px;
    min-width: 51px;
    height: 51px;
    min-height: 51px;

    border-radius: 50%;

    span {
      @include flex(row, center, center);
    }
    @include b('mobile') {
      padding: 0;

      width: 42px;
      min-width: 42px;
      height: 42px;
      min-height: 42px;
    }
  }

  &.gray {
    color: $btn-color-gray;
    background: $btn-bg-gray;

    &:hover,
    &:active {
      background: $btn-hover-gray;
      border: 1px solid $btn-border-gray;
    }
  }

  &.gray-light {
    color: $btn-color-gray;
    background: $btn-bg-gray-light;

    &:hover,
    &:active {
      background: $btn-hover-gray;
      border: 1px solid $btn-border-gray;
    }
  }

  &.black {
    color: $btn-color-black;
    background: $btn-bg-black;
    border-color: $btn-bg-black;

    &:hover,
    &:active {
      color: $black;
      background: white;
    }

    &-outlined {
      color: $black;
      background: white;
      border-color: $btn-bg-black;

      &:hover,
      &:active {
        color: $btn-color-black;
        background: $btn-bg-black;
      }
    }
  }

  &.green {
    color: $btn-color-green;
    background: $btn-bg-green;
    border-color: $btn-bg-green;

    &:hover,
    &:active {
      color: $black;
      background: $btn-hover-green;
    }
  }

  &.disabled {
    cursor: not-allowed;

    color: white;
    background: #808080;
    border-color: #808080;

    &:hover {
      color: white;
      background: #808080;
    }
  }

  &:focus {
  }

  &.isFullWidth {
    width: 100%;
  }
}

.icon {
  margin-right: 12px;

  height: unset;

  &:only-child {
    margin-right: 0;
  }
}

.small.rounded {
  width: 32px;
  min-width: 32px;
  height: 32px;
  min-height: 32px;

  svg {
    transform: scale(0.6);

    circle {
      transition: 0.4s;
    }
  }

  &:hover,
  &:focus {
    background: $black;

    circle {
      fill: white;
    }
  }
}
