@import '../../styles/mixins';

.button {
  cursor: pointer;
  transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid transparent;
  width: fit-content;
  white-space: nowrap;
  @include flex(row, center, center, nowrap);
  border-radius: $border-radius;
  font-size: 18px;
  line-height: 22px;
  @include b('mobile') {
    font-size: 14px;
    line-height: 20px;
  }

  &.default {
    padding: 16px;
    @include b('mobile') {
      padding: 10px 16px;
    }
  }
  &.big {
    padding: 18px 39px;
  }
  &.medium {
    padding: 16px 37px;
  }
  &.small {
    padding: 16px 24px;
  }

  &.rounded {
    border-radius: 50%;
    width: 51px;
    height: 51px;
    min-width: 51px;
    min-height: 51px;
    span {
      @include flex(row, center, center);
    }
    @include b('mobile') {
      height: 42px;
      width: 42px;
      min-height: 42px;
      min-width: 42px;
      padding: 0;
    }
  }
  &.gray {
    background: $btn-bg-gray;
    color: $btn-color-gray;
    &:hover,
    &:active {
      background: $btn-hover-gray;
      border: 1px solid $btn-border-gray;
    }
  }

  &.gray-light {
    background: $btn-bg-gray-light;
    color: $btn-color-gray;
    &:hover,
    &:active {
      background: $btn-hover-gray;
      border: 1px solid $btn-border-gray;
    }
  }
  &.black {
    background: $btn-bg-black;
    color: $btn-color-black;
    &:hover,
    &:active {
      background: rgba($btn-bg-black, 0.8);
    }
  }

  &.green {
    background: $btn-bg-green;
    color: $btn-color-green;
    border-color: $btn-bg-green;
    &:hover,
    &:active {
      color: $black;
      background: $btn-hover-green;
    }
  }

  &.disabled {
    cursor: not-allowed;
  }
  &:focus {
  }

  &.isFullWidth {
    width: 100%;
  }
}

.icon {
  height: unset;
  margin-right: 12px;
  &:only-child {
    margin-right: 0;
  }
}
