* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 14px;
  background: $gray;
  color: $black;

  span,
  div {
    font-feature-settings: 'liga' off;
  }
}

.content {
  padding: 55px 0 100px;
  @include b('mobile') {
    padding: 45px 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 700px;
  padding: 0 20px;
  @include b(tablet) {
    padding: 0 15px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.hidden {
  &__tablet {
    @include b('tablet') {
      display: none;
    }
  }
  &__mobile {
    @include b('mobile') {
      display: none;
    }
  }
}
