@import 'styles/mixins';

.stake {
  &__subtitle {
    margin: 4px 0 20px;
  }
  &__postfix {
    @include flex(row, center, center, nowrap);
    img {
      max-width: 24px;
      margin-right: 4px;
    }
  }
  &__error {
    @include flex(row, center, center, nowrap);
    img {
      margin-right: 8px;
    }
  }
  &__input {
    margin-bottom: 40px;
  }
  &__btn {
    margin: 30px auto 0px;
    width: 100%;
  }
}
