@import 'styles/mixins';

.deposit {
  &__pools {
    &__item {
      cursor: pointer;

      & + & {
        margin-top: 24px;
      }

      &__recom {
        margin-left: 7px;
        padding: 4px 10px;

        color: #fff;
        background: $green;
        border-radius: $border-radius;
      }

      &__title {
        @include flex(row, center);
        margin-bottom: 4px;

        font-size: 28px;
        line-height: 34px;
      }

      &__box,
      &__period,
      &__currency {
        @include flex(row, center);

        img {
          margin-right: 5px;

          max-width: 18px;
        }
      }

      &__period {
        margin-right: 12px;
        padding-right: 12px;

        border-right: 1.5px solid $border-gray;
      }
    }
  }

  &__postfix {
    @include flex(row, center, center, nowrap);

    img {
      margin-right: 4px;

      max-width: 24px;
    }
  }

  &__btn {
    margin-bottom: 40px;

    width: 100%;
  }

  &__lockup {
    margin: 50px auto 30px;
    padding: 12px 23px;

    background: $gray-light;
    border-radius: $border-radius;
    @include flex(row, center, space-between, nowrap);

    img {
      margin-right: 8px;
    }

    &__box {
      @include flex(row, center);
    }
  }
}
