@import 'styles/mixins';

.navbar {
  margin-bottom: 40px;
  padding: 5px;

  background: #e5e7eb;
  border-radius: $border-radius;
  @include flex(row, center, center, nowrap);

  &__item {
    padding: 14px;

    display: block;

    width: 100%;

    text-align: center;

    color: $black;

    &_active {
      background: #fff;
      border-radius: $border-radius;
      box-shadow: 0 4px 4px rgba(34, 34, 34, 0.09);
    }
  }
}
