@import '../../styles/mixins';

:global(.rc-dialog) {
  z-index: 100;

  max-width: 480px;

  &-body {
    padding: 25px;
    @include b('mobile') {
      padding: 20px 15px;
    }
  }

  &-mask {
    position: fixed;
    z-index: 1080 !important;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    height: 100%;

    background-color: #00000073;
  }

  &-content {
    border-radius: 8px;
  }

  &-wrap {
    position: fixed;
    z-index: 1080 !important;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    padding: 50px 0;

    overflow: auto;

    width: 100%;

    outline: 0;
    @include flex(row, center, center);
  }

  &-close {
    top: unset;
    left: calc(100% + 52px);
    bottom: calc(100% + 18px);
    @include b('mobile') {
      right: 0;
      left: unset;
    }
  }
}

.modal {
  &__wrapper {
    position: relative;

    background: #2222;
    border-radius: 16px;
  }

  &__subtitle {
    margin: 4px 0 30px;
  }
}
