@import 'styles/mixins';

.t_table {
  &__row {
    display: grid;
    align-items: center;
    padding-bottom: 12px;
    padding: 10px 24px;
    @include b('mobile') {
      display: block;
    }
    & + & {
      margin-top: 12px;
    }
    & > div:last-child {
      margin-left: auto;
    }
  }
  &__head {
    background: #f3f4f6;
    @include b('mobile') {
      display: none;
    }
    &__item {
      @include text-common(smd, 400);
      color: $gray-text;
      &:hover img {
        opacity: 1;
      }
      img {
        opacity: 0.4;
        transition: 0.3s;
        margin-left: 12px;
      }
      span {
        white-space: nowrap;
      }
      &__controll {
        cursor: pointer;
        width: fit-content;
        @include flex(row, center);
      }
    }
  }
  &__status {
    padding: 4px 8px;
    border-radius: $border-radius;
    @include text-common(sm);
    width: fit-content;
    margin: 0 auto;
    &_active {
      color: $orange;
      background: $orange-light;
    }
    &_done {
      color: $green;
      background: $green-light;
    }
  }
  &__staking {
    &__item {
      @include flex(row, center, flex-start, nowrap);
      img {
        max-width: 24px;
        margin-right: 8px;
      }
    }
    &__row {
      grid-template-columns: 195px 170px 185px 1fr;
    }
  }
  &__pool {
    &__row {
      grid-template-columns: 110px 75px 85px 85px 105px 80px 1fr;
    }
  }
  &__nav {
    @include flex(row, center);
    span {
      margin: 0 5px;
    }
    &_prev {
      img {
        transform: rotate(90deg);
      }
    }
    &_next {
      img {
        transform: rotate(-90deg);
      }
    }
  }
}
