@import 'styles/mixins';
.c_modal {
  &__content {
    padding-top: 30px;
    border-top: 1px solid $btn-border-gray;
  }
  &__img {
    position: absolute;
    width: 48px;
    &__usdc {
      top: 21px;
      right: 24px;
    }
    &__avs {
      top: 21px;
      right: 59px;
    }
  }
  &__box {
    @include grid(1fr 1fr 1fr, auto, 25px);
  }
  &__interest {
    border-radius: 8px;
    @include flex(row, center);
    padding: 19px 14px;
    margin-top: 15px;
    background: $green-light;
    img {
      margin-right: 10px;
    }
    span + span {
      margin-left: 4px;
    }
  }
  &__btn {
    width: 100%;
    margin-top: 30px;
  }
  &__info {
    @include flex(row, center, flex-start, nowrap);
    margin-top: 13px;
    img {
      margin-right: 8px;
    }
  }
}
