@import 'styles/mixins';

.header {
  position: sticky;
  z-index: 100;
  top: 0;

  padding: 24px 5.556vw;

  background: #fff;
  border-bottom: 1px solid $border-gray;
  @include flex(row, center, space-between);
  @include b('mobile') {
    padding: 15px;
  }

  &__logo {
    max-width: 170px;

    img {
      max-width: 100%;
    }
    @include b('mobile') {
      max-width: 110px;
    }
  }

  &__wrapper {
    @include flex(row, center);
  }

  &__navbar {
    margin-left: 34px;
    padding-left: 34px;

    border-left: 1px solid $border-gray-light;
    @include flex(row, center);
    @include b('mobile') {
      display: none;
    }

    &__item {
      padding: 16px 37px;

      display: block;

      color: $btn-color-gray;
      border: 1px solid transparent;
      border-radius: $border-radius;

      &_active {
        background: $btn-bg-gray-light;
      }
    }
  }

  &__btn {
    &:last-of-type {
      margin-left: 25px;
      @include b('mobile') {
        margin-left: 16px;
      }
    }

    img {
      @include b('mobile') {
        transform: scale(0.7);
      }
    }
  }

  &__link {
    min-width: 135px;

    color: $black;
    opacity: 0.6;

    transition: 0.3s;
    @include flex(row, center, space-between);

    & + & {
      margin-top: 20px;
      @include b('mobile') {
        margin-top: 15px;
      }
    }

    &:hover {
      opacity: 1;
    }
  }
}
