@import 'styles/mixins';

.header {
  padding: 24px 5.556vw;
  position: sticky;
  top: 0;
  background: #fff;
  @include flex(row, center, space-between);
  border-bottom: 1px solid $border-gray;
  @include b('mobile') {
    padding: 15px;
  }
  &__logo {
    max-width: 170px;
    img {
      max-width: 100%;
    }
    @include b('mobile') {
      max-width: 110px;
    }
  }
  &__wrapper {
    @include flex(row, center);
  }
  &__navbar {
    margin-left: 34px;
    padding-left: 34px;
    border-left: 1px solid $border-gray-light;
    @include flex(row, center);
    @include b('mobile') {
      display: none;
    }
    &__item {
      display: block;
      padding: 16px 37px;
      border-radius: $border-radius;
      border: 1px solid transparent;
      color: $btn-color-gray;
      &_active {
        background: $btn-bg-gray-light;
      }
    }
  }
  &__btn {
    & + & {
      margin-left: 25px;
      @include b('mobile') {
        margin-left: 16px;
      }
    }
    img {
      transform: scale(0.7);
    }
  }
  &__link {
    min-width: 135px;
    @include flex(row, center, space-between);
    color: $black;
    transition: 0.3s;
    opacity: 0.6;
    & + & {
      margin-top: 20px;
      @include b('mobile') {
        margin-top: 15px;
      }
    }
    &:hover {
      opacity: 1;
    }
  }
}
